.navbar-brand{
    color: brown;
    font-size: 30px;
    float:left;
    padding-left: 10px;
    font-weight: bolder;
    font-style: italic;
    width:35%;
}
.navbar-nav{
    display: flex;
    float: right;
    width: 35%;
}
