.item{
    padding: 20px;
}
li{
    list-style-type: none;
    color: black;
    background-color: rgb(230,249,250);
    height: 40px;
    width: 15%;
    margin: 10px;
    border-radius: 10px;    
    font-size: 20px;
}
.badge{
    background-color: #343a40;
    margin: 5px;
    width: 35px;
    height: 28px;
    text-align: center;
}
a{
    color: #343a40;
    text-decoration: none;
}