<!-- <app-my-counter></app-my-counter> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-counter></app-counter>
        </div>
    </div>
</div>
<hr>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-my-counter></app-my-counter>
        </div>
    </div>
</div>
<hr> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-ngrx-counter></app-ngrx-counter>
        </div>
    </div>
</div>
<hr>
