<div class="container-fluid">
    <h1>Registration Form </h1>
      
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label for="userName">UserName</label>
            <input 
            type="text" 
            id="userName"
            formControlName="userName"
            class="form-control" />
        </div>
         
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password"
            formControlName="password"
            id="password" 
            class="form-control" />
        </div>

        <div class="form-group">
            <label for="cpassword">Confirm Password</label>
            <input 
            type="password" 
            formControlName="confirmPassword" 
            id="cpassword" 
            class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
    </form>
    {{registrationForm.value|json}}
</div>