<div class="my-">
    <h2>Of and From</h2>
    <br>
    <strong>Ex - 01 (OF)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class=" px-3 py-2 bg-light border rounded">
                <strong>Data : </strong>of('Anup', 'Shekhar', 'Sharma') 
            </p>
            <hr>
            <ul id=elContainer></ul>
        </div>
        <div class="col-md-6">
            <p class=" px-3 py-2 bg-light border rounded">
                <strong>Data : </strong>of( &#123; a : 'Anup', b : 'Shekhar', c : 'Sharma' &#125; ) 
            </p>
            <hr>
            <ul>
                <li><strong>a : </strong> {{obsMsg.a}}</li>
                <li><strong>b : </strong> {{obsMsg.b}}</li>
                <li><strong>c : </strong> {{obsMsg.c}}</li>
            </ul>

        </div>
        <div class="col-md-6">
            <p class=" px-3 py-2 bg-light border rounded">
                <strong>Data : </strong>Sting to Observable 
            </p>
            <hr>
            <ul id="elCounter3">
            </ul>

        </div>
    </div>
</div>