<div class="caontainer-fluid">
    <form [formGroup]="loginForm">
        
        <div class="form-group">
            <label class="form-title">UserName</label>
            <input 
            type="text" 
            class="form-control" 
            formControlName="userName" />
        </div>
        <div [class.d-none]="loginForm.get('userName')?.valid || loginForm.get('userName')?.untouched">
        <small class="text-danger" *ngIf="loginForm.get('userName')?.errors?.['pattern']">Enter Only Character</small>
        </div>

        <div class="form-group">
            <label class="form-title">Choice</label><br>
            <input type="radio" 
            name="choice"
            value="yes"
            class="custom-contol-input"
            formControlName="choice"/>yes
            
            <input 
            type="radio" 
            name="choice" 
            value="no"
            formControlName="choice"/>No
        </div>
        <ng-container *ngIf="loginForm.get('choice')?.value === 'yes' ">
            <div class="choice"> 
                <div class="form-group">
                    <label class="form-title">
                        Priority
                    </label>
                    
                    <select 
                    class="form-control" 
                    formControlName="priority">
                        <option *ngFor="let option of options" [ngValue]="option">{{option.key}}</option>
                    </select>
                </div>
                
                <ng-container class="form-group" *ngIf="loginForm.get('priority')?.['valid']">
                    <label class="form-title">
                        Task
                    </label>
                    
                    <select class="form-control" formControlName="task">
                        <option [value]="option" *ngFor ="let option of changingValue?.value">{{option}}</option>

                    </select>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="loginForm.get('task')?.valid && loginForm.get('userName')?.valid"> 
            <button type="submit" class="btn btn-primary">submit</button>
        </ng-container>
    </form>
</div>