<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="formEvent" routerLinkActive="active">formEvent</a>
            </li>
            <li>
                <a routerLink="formEvent">formEvent</a>
            </li>
            <li>
                <a routerLink="formEvent">formEvent</a>
            </li>
            <li>
                <a routerLink="ofFrom" routerLinkActive="active">Of From</a>
            </li>
        </ul>
    </div>
</div>
