<strong>Replay Subject</strong>
    <p>- The replay subject emit old value to new subscriber. </p> 
    <p>- And It buffer the no.of values and emit whose values Immediately to new subscriber.</p>
    <p>- In addition to emitting new value to the existing Subscribers</p>
    <p>- In replay Subject you can reserve both new and old values</p>




<div class="container">
    <div class="card-title mt-2">
        <h3>Replay Subject</h3>
    </div>
    <div class="card-body">
        <ul></ul>
    </div>
</div>
